!!! XML
!!! 1.1

html(xmlns="http://www.w3.org/1999/xhtml")

  head
    link(rel='stylesheet', href='/stylesheets/login.css')

    meta (name="viewport", content="initial-scale=1.0,width=device-width")

  body
    #loginPage
      #fb-root

      div#content

        div.grey_panel
          img#grey_panel(src="../images/login_grey_panel.png",  alt="")

          #title
            h1 LiveGameUp!
            h2 Babyfoot

          div.expired Too bad! You come too late...
             <br> Your friend left the game :-(

          div.logo_asiance
            img(src="../images/asiance_logo.png", alt="")

