/**
 * Because sass does not allow !important directive this is an handmade css file
 *
 */


.fb-comments{width: 400px !important;}
.fb-comments iframe[style]{width: 400px !important;}
.fb-comments span{width: auto !important;}
.fb-comments iframe span[style]{width: auto !important;}

/* /\* .fb-like-box{width: 70% !important;} *\/ */
/* /\* .fb-like-box iframe[style]{width: 70% !important;} *\/ */
/* /\* .fb-like-box span{width: 70% !important;} *\/ */
/* /\* .fb-like-box iframe span[style]{width: 70% !important;} *\/ */
