/* line 17, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 194, ../images/scores/*.png */
.scores-sprite, .scores-big_00, .scores-big_01, .scores-big_02, .scores-big_03, .scores-big_04, .scores-big_05, .scores-big_06, .scores-big_07, .scores-big_08, .scores-big_09, .scores-small_00, .scores-small_01, .scores-small_02, .scores-small_03, .scores-small_04, .scores-small_05, .scores-small_06, .scores-small_07, .scores-small_08, .scores-small_09 {
  background: url('/images/../images/scores-s227876109c.png') no-repeat;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_00 {
  background-position: 0 -585px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_01 {
  background-position: 0 -520px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_02 {
  background-position: 0 -195px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_03 {
  background-position: 0 -260px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_04 {
  background-position: 0 -65px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_05 {
  background-position: 0 -130px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_06 {
  background-position: 0 -325px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_07 {
  background-position: 0 -455px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_08 {
  background-position: 0 -390px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_09 {
  background-position: 0 0;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_00 {
  background-position: 0 -650px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_01 {
  background-position: 0 -956px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_02 {
  background-position: 0 -718px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_03 {
  background-position: 0 -752px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_04 {
  background-position: 0 -888px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_05 {
  background-position: 0 -786px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_06 {
  background-position: 0 -854px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_07 {
  background-position: 0 -922px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_08 {
  background-position: 0 -820px;
}

/* line 60, ../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_09 {
  background-position: 0 -684px;
}

/* line 8, ../sass/admin.scss */
body {
  /* @include background-image(radial-gradient(circle,  */
  /* 					      #ffffff 200px,transparent), */
  /* 			      image-url('../images/bg-pattern.jpg')); */
}

/* line 16, ../sass/admin.scss */
#page {
  margin-top: 5%;
  width: 512px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  /* h1{ */
  /* 	position: absolute; */
  /* 	text-align: center; */
  /* 	left:19%; */
  /* 	font-weight: bold; */
  /* 	font-size:57px; */
  /* 	/\* text-transform:uppercase; *\/ */
  /* 	font-family: "Interstate"; */
  /* 	color: #FFFFFF; */
  /* 	@include text-shadow(rgba(black, 0.2) 1px 1px 0, rgba(black, 0.2) 4px 8px 0, rgba(black, 0.2) 3px 3px 0); */
  /* div.panel{ */
  /* 	margin-left: auto; */
  /* 	margin-right: auto; */
  /* 	margin-top: -10%; */
  /* } */
  /* #panel_img{ */
  /* 	margin-top: 5%; */
  /* 	width: 100%; */
  /* } */
}
/* line 53, ../sass/admin.scss */
#page #plus {
  position: absolute;
  left: 150px;
  top: 75px;
}
/* line 58, ../sass/admin.scss */
#page #minus {
  position: absolute;
  left: 71px;
  top: 84px;
}
/* line 66, ../sass/admin.scss */
#page #me {
  position: absolute;
  left: 200px;
  top: 127px;
  width: 80px;
  height: 35px;
}
/* line 73, ../sass/admin.scss */
#page #me .photo img {
  width: 80px;
  height: 80px;
}
/* line 79, ../sass/admin.scss */
#page #me #myscore {
  position: absolute;
  left: 5px;
  top: 110px;
  width: 51px;
  height: 35px;
}
/* line 87, ../sass/admin.scss */
#page #me .pfooter {
  position: absolute;
  left: 21px;
}
/* line 93, ../sass/admin.scss */
#page #myco {
  position: absolute;
  left: 5px;
  top: 50px;
  width: 51px;
  height: 35px;
}
/* line 100, ../sass/admin.scss */
#page #myco #mycoscore {
  position: absolute;
  top: 77px;
  width: 51px;
  height: 35px;
}
/* line 108, ../sass/admin.scss */
#page #adv1 {
  position: absolute;
  left: 398px;
  top: 50px;
  width: 51px;
  height: 35px;
}
/* line 115, ../sass/admin.scss */
#page #adv1 #adv1score {
  position: absolute;
  top: 77px;
  width: 51px;
  height: 35px;
}
/* line 122, ../sass/admin.scss */
#page #adv2 {
  position: absolute;
  left: 476px;
  top: 50px;
  width: 51px;
  height: 35px;
}
/* line 129, ../sass/admin.scss */
#page #adv2 #adv2score {
  position: absolute;
  top: 77px;
  width: 51px;
  height: 35px;
}
/* line 137, ../sass/admin.scss */
#page #score_team1 {
  position: absolute;
  top: 300px;
  left: 50px;
  width: 88px;
  height: 60px;
}
/* line 145, ../sass/admin.scss */
#page #score_team2 {
  position: absolute;
  top: 300px;
  left: 340px;
  width: 88px;
  height: 60px;
}
