/* line 17, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 194, ../images/scores/*.png */
.scores-sprite, .scores-big_00, .scores-big_01, .scores-big_02, .scores-big_03, .scores-big_04, .scores-big_05, .scores-big_06, .scores-big_07, .scores-big_08, .scores-big_09, .scores-small_00, .scores-small_01, .scores-small_02, .scores-small_03, .scores-small_04, .scores-small_05, .scores-small_06, .scores-small_07, .scores-small_08, .scores-small_09 {
  background: url('/images/../images/scores-s227876109c.png') no-repeat;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_00 {
  background-position: 0 -585px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_01 {
  background-position: 0 -520px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_02 {
  background-position: 0 -195px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_03 {
  background-position: 0 -260px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_04 {
  background-position: 0 -65px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_05 {
  background-position: 0 -130px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_06 {
  background-position: 0 -325px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_07 {
  background-position: 0 -455px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_08 {
  background-position: 0 -390px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-big_09 {
  background-position: 0 0;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_00 {
  background-position: 0 -650px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_01 {
  background-position: 0 -956px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_02 {
  background-position: 0 -718px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_03 {
  background-position: 0 -752px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_04 {
  background-position: 0 -888px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_05 {
  background-position: 0 -786px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_06 {
  background-position: 0 -854px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_07 {
  background-position: 0 -922px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_08 {
  background-position: 0 -820px;
}

/* line 60, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.scores-small_09 {
  background-position: 0 -684px;
}

/* line 8, ../sass/main_mobile.scss */
body {
  background-image: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(200px, #ffffff), color-stop(100%, transparent)), url('/images/../images/bg-pattern.jpg?1352393320');
  background-image: -webkit-radial-gradient(circle, #ffffff 200px, transparent), url('/images/../images/bg-pattern.jpg?1352393320');
  background-image: -moz-radial-gradient(circle, #ffffff 200px, transparent), url('/images/../images/bg-pattern.jpg?1352393320');
  background-image: -o-radial-gradient(circle, #ffffff 200px, transparent), url('/images/../images/bg-pattern.jpg?1352393320');
  background-image: radial-gradient(circle, #ffffff 200px, transparent), url('/images/../images/bg-pattern.jpg?1352393320');
}

/* line 16, ../sass/main_mobile.scss */
#page {
  width: 1010px;
  margin-top: 4%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
/* line 23, ../sass/main_mobile.scss */
#page #social {
  position: absolute;
  right: 374px;
  top: 1202px;
}
/* line 28, ../sass/main_mobile.scss */
#page h1 {
  position: absolute;
  text-align: center;
  left: 19%;
  font-weight: bold;
  font-size: 57px;
  /* text-transform:uppercase; */
  font-family: "Interstate";
  color: #FFFFFF;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.2) 4px 8px 0, rgba(0, 0, 0, 0.2) 3px 3px 0;
}
/* line 41, ../sass/main_mobile.scss */
#page div.panel {
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
}
/* line 46, ../sass/main_mobile.scss */
#page #panel_img {
  margin-top: 5%;
  width: 100%;
}
/* line 52, ../sass/main_mobile.scss */
#page div.player {
  position: absolute;
  top: 142px;
}
/* line 56, ../sass/main_mobile.scss */
#page div.player .photo img {
  width: 147px;
  height: 147px;
}
/* line 61, ../sass/main_mobile.scss */
#page div.player .pbody {
  width: 98px;
}
/* line 67, ../sass/main_mobile.scss */
#page div.player .pheader1, #page div.player .pheader2, #page div.player .pfooter3, #page div.player .pfooter4 {
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.2) 2px 2px 0, rgba(0, 0, 0, 0.2) 3px 3px 0;
}
/* line 72, ../sass/main_mobile.scss */
#page div.player .pheader1, #page div.player .pheader2 {
  margin-left: 129px;
  margin-top: 62px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Interstate";
  color: #FFFFFF;
}
/* line 83, ../sass/main_mobile.scss */
#page div.player .pheader2 {
  margin-left: 319px;
  margin-top: 62px;
}
/* line 88, ../sass/main_mobile.scss */
#page div.player#player1 {
  left: 99px;
}
/* line 92, ../sass/main_mobile.scss */
#page div.player#player1 #score1 {
  position: absolute;
  left: 22px;
  top: 153px;
  width: 51px;
  height: 35px;
}
/* line 99, ../sass/main_mobile.scss */
#page div.player#player1 .photo {
  width: 158px;
  height: 158px;
  position: absolute;
  left: 83px;
  top: 95px;
}
/* line 108, ../sass/main_mobile.scss */
#page div.player#player2 {
  left: 390px;
}
/* line 111, ../sass/main_mobile.scss */
#page div.player#player2 #score2 {
  position: absolute;
  left: 433px;
  top: 153px;
  width: 51px;
  height: 35px;
}
/* line 118, ../sass/main_mobile.scss */
#page div.player#player2 .photo {
  width: 158px;
  height: 158px;
  position: absolute;
  left: 274px;
  top: 95px;
}
/* line 129, ../sass/main_mobile.scss */
#page div.player .pfooter3, #page div.player .pfooter4 {
  margin-left: 216px;
  margin-top: 576px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Interstate";
  color: #FFFFFF;
}
/* line 141, ../sass/main_mobile.scss */
#page div.player .pfooter4 {
  margin-left: 700px;
  margin-top: 576px;
}
/* line 147, ../sass/main_mobile.scss */
#page div.player#player3 {
  top: 500px;
  left: 10px;
}
/* line 151, ../sass/main_mobile.scss */
#page div.player#player3 #score3 {
  position: absolute;
  left: 111px;
  top: 470px;
  width: 51px;
  height: 35px;
}
/* line 158, ../sass/main_mobile.scss */
#page div.player#player3 .photo {
  position: absolute;
  left: 172px;
  top: 412px;
}
/* line 165, ../sass/main_mobile.scss */
#page div.player#player4 {
  top: 500px;
  left: 10px;
}
/* line 169, ../sass/main_mobile.scss */
#page div.player#player4 #score4 {
  width: 51px;
  height: 35px;
  position: absolute;
  left: 814px;
  top: 470px;
}
/* line 176, ../sass/main_mobile.scss */
#page div.player#player4 .photo {
  width: 158px;
  height: 158px;
  position: absolute;
  left: 654px;
  top: 412px;
}
/* line 185, ../sass/main_mobile.scss */
#page div#score_team1 {
  width: 90px;
  height: 66px;
  position: absolute;
  left: 452px;
  top: 258px;
}
/* line 192, ../sass/main_mobile.scss */
#page div#score_team2 {
  width: 90px;
  height: 66px;
  position: absolute;
  left: 452px;
  top: 975px;
}
/* line 199, ../sass/main_mobile.scss */
#page div#screen {
  position: absolute;
  top: 418px;
  left: 129px;
}
/* line 204, ../sass/main_mobile.scss */
#page div#screen #stream_vid {
  width: 434px;
  height: 273px;
}
/* line 210, ../sass/main_mobile.scss */
#page .fb_iframe_widget {
  position: absolute;
  left: 98px;
  top: 1235px;
  height: 670px !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  margin-top: 10px;
}
