!!! XML
!!! 1.1

html(xmlns="http://www.w3.org/1999/xhtml")
  head
    title= title
    meta(name="viewport", content="width=640")
    <!--[if IE]>
    link(href="/stylesheets/ie.css", media="screen, projection", rel="stylesheet", type="text/css")
    <![endif]-->

    link(rel='stylesheet', href='/stylesheets/admin.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(type='text/javascript', src='/faye/browser/faye-browser.js')

    script(type='text/javascript', src='/javascripts/admin.js')
    script(type='text/javascript', src='/javascripts/admin_mgr.js')
  body
    #page
        .gamepanel
          img#gamepanel(src="../images/admin_bgd_mobile.jpg",  alt="")

          #player1
              .photo
              .pname
                //p player1
          #player2
              .photo
              .pname
                //p player2
          #player3
              .photo
              .pname
                //p player3
          #player4
              .photo
              .pname
                //p player4


          #scorep1.scorep
          #scorep2.scorep
          #scorep3.scorep
          #scorep4.scorep

          #scoret1.scoret
          #scoret2.scoret
          #myscore 

          #logo
            img(src="../images/asiance_logo.png", alt="Asiance")

          #minus
          #plus