!!! XML
!!! 1.1

html(xmlns="http://www.w3.org/1999/xhtml")
  head

    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> <![endif]-->
    <!--[if lte IE 8]>
    script(src="/javascripts/html5.js?1349778565", type="text/javascript")
    <![endif]-->

    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/main_fb.css')
    
    script(type='text/javascript', src='/javascripts/jquery-1.8.0.min.js')
    // script(type="text/javascript", src="/javascripts/jquery.backstretch.min.js")
    script(type='text/javascript', src='/faye/browser/faye-browser.js')


    // script(src="/javascripts/underscore-min.js")
    // script(src="/javascripts/backbone-min.js")

    
    script(type='text/javascript', src='/javascripts/index_mgr.js')
    
    // script(type='text/javascript')$.backstretch("../images/main_bgrd.jpg");//stadium
    // script(type='text/javascript')$.backstretch("../images/main_asiance_bg.jpg");

    script(type="text/javascript") var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-1115917-63']);_gaq.push(['_trackPageview']);(function(){var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();


  body

    script (function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=103759093066773";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));

  

    #fb-root
   
    #page


      #title
        h1 LiveGameUp! - Babyfoot

      #panel
        img(src="images/grey_panel.png")



      #player1.player
        .pheader1
          p
        .pbody
          #score1 
          .photo

      #player2.player
        .pheader2
          p
        .pbody
          #score2
          .photo


      #player3.player
    
        .pbody
          #score3 
          .photo

        .pfooter3
          p

      #player4.player
      
        .pbody
          #score4 
          .photo

        .pfooter4
          p


      #score_team1

      #score_team2



      #screen

        // iframe( width="434", height="276", src="http://www.ustream.tv/embed/11682769?v=3&amp;wmode=direct", scrolling="no", frameborder="0", style="border: 0px none transparent;")
  

          // embed(id='stream_vid', mrl='http://192.168.0.4:3200/ideo/ts-mp4.cgi?profileid=1', name='', version='VideoLAN.VLCPlugin.2', pluginspage='http://www.videolan.org',  type='application/x-vlc-plugin' )

         // img(id="stream", src="/mjpg/video/mjpg.cgi?profileid=3", width="640", height="480", alt="Press Reload if no image is displayed" border="0")

         object( type="application/x-shockwave-flash", data="http://www.justin.tv/widgets/live_embed_player.swf?channel=asiance", id="live_embed_player_flash", height="276", width="434", bgcolor="#000000")
              param(name="allowFullScreen", value="true")
              param(name="allowScriptAccess", value="always")
              param(name="allowNetworking", value="all")
              param(name="movie", value="http://www.justin.tv/widgets/live_embed_player.swf")
              param(name="flashvars", value="hostname=www.justin.tv&channel=asiance&auto_play=false&start_volume=25")

  
      .fb-comments(data-href="http://babyfoot.asiance.com:3100/", data-num-posts="7",data-colorscheme="dark")

      #social
       .g-plusone(data-size="medium")

       script(type="text/javascript") (function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/plusone.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();


       a(href="https://twitter.com/share", class="twitter-share-button", data-lang="en")Tweeter
       script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");