!!! XML
!!! 1.1

html(xmlns="http://www.w3.org/1999/xhtml")


  head
    link(rel='stylesheet', href='/stylesheets/login.css')

    meta (name="viewport", content="initial-scale=1.0,width=device-width")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")

    script(type='text/javascript', src='/faye/browser/faye-browser.js')

    script(type='text/javascript', src='/javascripts/login_mgr.js')

    // script(type='text/javascript', src='/javascripts/jquery.mobile-1.2.0.min.js')
    // script(type="text/javascript", src="/javascripts/jquery.backstretch.min.js")
    // script(type='text/javascript')$.backstretch("../images/main_asiance_bg.jpg");  

  body
    #loginPage
       #fb-root
 
       div#content

         div.grey_panel
            img#grey_panel(src="../images/login_grey_panel.png",  alt="")

            #title
              h1 LiveGameUp! 
              h2 Babyfoot
            div.logbutton
              img#logbut(src="../images/login_butt.png", alt="")

            div.logo_asiance
              img(src="../images/asiance_logo.png", alt="")

           