 
/* body{ */
/*     background-image:url('../images/login_bgrd.png'); */
/*     background-repeat: no-repeat; */
/*     width: auto; */


/* } */

 /* and (orientation: portrait) */
/* @media (min-width: 640px) and (max-width: 1600px){ */
@media screen and (orientation:portrait){
    
    #loginpage{
    	position: relative;
    	margin: 20 px;
    	width: 90%;
    }
    img {
	margin-left: 13.0585%;
	margin-top: 92.9375%;
    	width: 71.417969%;
    }
}
@media screen and (orientation: landscape){

    #loginPage{
    	position: relative;
    	margin: 20 px;
    	width: auto;
    }
    img {
	margin-left: 35.0585%;
	margin-top: 29.9375%;
	width: 29.417969%;
    }
}

