@import "compass/reset";
@import "compass/utilities/sprites";
@import "../images/scores/*.png";
@include all-scores-sprites;
@import "compass/css3/text-shadow";
@import "compass/css3/images";


@font-face {
    font-family: Interstate-Bold;
    src: url('../fonts/Interstate-Bold.ttf');
}


@mixin position($position, 
		$top, 
		$left, 
		$width, 
		$height) {

    position: $position;
    left: $left;
    top: $top;
    width: $width;
    height: $height;

}


body
{

    @include background-image(image-url('../images/bg-pattern.jpg'));

}



#page{

    margin-top: 5%;
    width: 512px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
   


    #plus{
	position: absolute;
	left: 328px;
	top: 232px;
    }
    #minus{
	position: absolute;
	left: 110px;
	top: 248px;
    }


    
    #me{
	@include position(absolute, 
			  127px, 
			  190px, 
			  80px, 
			  35px);

	.photo img{	
	    width: 80px;
	    height: 80px;
	}

	#myscore{

	    @include position(absolute, 
			      -43px, 
			      16px, 
			      51px, 
			      35px);
    	    
	}
	.pfooter{
	    @include text-shadow(rgba(black, 0.2) 1px 1px 0, 
				 rgba(black, 0.2) 2px 2px 0, 
				 rgba(black, 0.2) 3px 3px 0);

	    font-family: "Interstate-Bold";
	    color: #FFFFFF;
	    text-align: center;
	}

    }
    #myco{

	@include position(absolute, 
			  50px, 
			  64px, 
			  51px,
			  35px);
	#mycoscore{

    	    position: absolute;
    	    top: 77px;
    	    width: 51px;
    	    height: 35px;
	}
	.pfooter{
	    @include text-shadow(rgba(black, 0.2) 1px 1px 0, 
				 rgba(black, 0.2) 2px 2px 0, 
				 rgba(black, 0.2) 3px 3px 0);

	    font-family: "Interstate-Bold";
	    color: #FFFFFF;
	    text-align: center;
	}
    }
    #adv1{

	@include position(absolute, 
			  50px, 
			  299px, 
			  51px, 
			  35px);

        #adv1score{
    	    position: absolute;
    	    top: 77px;
	    width: 51px;
    	    height: 35px;
	}
	.pfooter{
	    @include text-shadow(rgba(black, 0.2) 1px 1px 0, 
				 rgba(black, 0.2) 2px 2px 0, 
				 rgba(black, 0.2) 3px 3px 0);

	    font-family: "Interstate-Bold";
	    color: #FFFFFF;
	    text-align: center;
	}


    }
    #adv2{
	@include position(absolute, 
			  50px, 
			  366px, 
			  51px, 
			  35px);

        #adv2score{
    	    position: absolute;
	    top: 77px;
    	    width: 51px;
    	    height: 35px;
	}
	.pfooter{
	    @include text-shadow(rgba(black, 0.2) 1px 1px 0, 
				 rgba(black, 0.2) 2px 2px 0, 
				 rgba(black, 0.2) 3px 3px 0);

	    font-family: "Interstate-Bold";
	    color: #FFFFFF;
	    text-align: center;
	}
    }

    #score_team1{
	@include position(absolute, 
			  300px, 
			  136px, 
			  88px, 
			  60px);
    }

    #score_team2{

	@include position(absolute, 
			  300px, 
			  254px, 
			  88px, 
			  60px);
    }
}