@import "compass/reset";
@import "compass/utilities/sprites";
@import "../images/scores/*.png";

@include all-scores-sprites;
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/font-face";


@font-face {
  font-family: ProximaNovaCond-Regular;
  src: url('../fonts/ProximaNovaCond-Regular.otf');
}

@font-face {
  font-family: jd_led3;
  src: url('../fonts/jd_led3.otf');
}

body {
  background-color: rgb(203, 203, 203);
}

*:focus {
  outline: none;
}


#page {

  width: 1024px;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .gamepanel {

    position: absolute;

    #gamepanel {
      width: 1024px;
    }
    .photo img {
      position: absolute;
      width: 120px;
    }

    #player1 .pname p, #player2 .pname p {
      position: absolute;
      top: 39px;
      left: -100px;
      font-size:20px;
      text-transform: uppercase;
      font-family: ProximaNovaCond-Regular;
    }
    #player3 .pname p, #player4 .pname p {
      position: absolute;
      top: 39px;
      right: -192px;
      font-size:20px;
      text-transform: uppercase;
      font-family: ProximaNovaCond-Regular;
    }

    @for $i from 1 through 4 {

      #player#{$i} {
        position: absolute;
      }
    }
    #player1 {
      top: 45.6%;
      left: 18.0%;
    }
    #player2 {
      top: 75.7%;
      left: 14.2%;
    }
    #player3 {
      top: 45.6%;
      right: 28.8%;
    }
    #player4 {
      top: 75.9%;
      right: 25.39%;
    }

    .scorep,{
      p {
        font: {
          family: "jd_led3";
          size: 2.5em;
        }
      }
    }
    .scoret {
      p {
        font: {
          family: "jd_led3";
        }
      }
    }
    .scoret, .scorep {
      @include text-shadow(0 0 40px rgb(240, 121, 34), 0 0 70px rgb(240, 121, 34), 0 0 80px rgb(240, 121, 34));
      color: rgb(240, 121, 34);
      position: absolute;
      width: 100%;
    }
    @for $i from 1 through 4 {
      #scorep#{$i} {
        position: absolute;
      }
    }

    #scorep1 {
      top: 35.4%;
      left: 23%;
    }
    #scorep2 {
      top: 65%;
      left: 18.9%;
    }
    #scorep3 {
      top: 35.4%;
      right: -76.3%;
    }
    #scorep4 {
      top: 65%;
      right: -79.7%;
    }

    #scoret1, #scoret2 {
      position: absolute;
    }
    #scoret1 {
      text-align: center;
      width: 100%;
      margin-top: -22%;
      p {
          text-align: center;
          font: {
            size: 6em;
          }
      }
    }
    #scoret2 {
      margin-top: -50%;
      left: 3px;
      p {
        text-align: center;
        font: {
          size: 4em;
        }
      }
    }
    #logo {
      top: 98%;
      left: 32%;
    }


    @for $i from 1 through 4 {
      #minus#{$i}, #plus#{$i} {
        position: absolute;
        width: 60px;
        height: 60px;
        /* No background, just iOS:*/
        -webkit-tap-highlight-color: transparent;
        /* No background iOS + Android:  */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }

    #minus1 {
      border:2px solid;
      top: 35%;
      left: 27%;
    }
    #plus1 {
      border:2px solid;
      top: 35%;
      left: 14%;
    }
    #minus2 {
      border:2px solid;
      top: 65%;
      left: 23%;
    }
    #plus2 {
      border:2px solid;
      top: 65%;
      left: 10%;
    }
    #minus3 {
      border:2px solid;
      top: 36%;
      right: 13%;
    }
    #plus3 {
      border:2px solid;
      top: 36%;
      right: 27%;
    }
    #minus4 {
      border:2px solid;
      top: 65%;
      right: 10%;
    }
    #plus4 {
      border:2px solid;
      top: 65%;
      right: 23%;
    }

  }
}
